@font-face {
    font-family: manrope;
    src: url(./fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: manropeLight;
    src: url(./fonts/Manrope-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: manrope;
}

h1 {
    font-family: manrope;
}

h2, h3, p {
    font-family: manropeLight;
}